body {
  font-size: 12px;
  font-weight: bold;
}

#container_left {
float: left;
margin-right: 50px;

}

#container_right {
float: left;
}

#container_chiffreA {
  float: left;
}

#container_chiffreB {
  clear: left;
}

#container_button {
  clear: both;
  float: right;
}
